:root{
    --mainColor:#595657;
    --secondaryColor:#afa5a8;

    --borderColor:#164D56;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg:rgb(25,39,52,0.8);
    --previewShadow:#111921;

    --btncolor:#17a2b8;
    --linkcolor:#17a2b8;


}