:root{
    --mainColor:#63401b;
    --secondaryColor:#d88b39;

    --borderColor:#291b0b;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg:rgb(25,39,52,0.8);
    --previewShadow:#4f2904;

    --btncolor:#502c05;
    --linkcolor:#ebbc14;


}